/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #241533;
  margin: 0;
  padding: 0;
}

/* Estilo para a logo no canto superior esquerdo */
.logo {
  position: absolute; /* Permite posicionamento relativo à janela */
  top: 10px; /* Distância do topo da página */
  left: 10px; /* Distância da borda esquerda */
  width: 100px; /* Largura ajustável da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius:100%
}


.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #241533;
}

h1 {
  text-align: center;
  color: white;
}

/* Estilo para o contêiner de eventos */
#containerEventos {
  display: flex; /* Exibe os eventos lado a lado */
  flex-wrap: wrap; /* Permite que os eventos ocupem a próxima linha se o espaço não for suficiente */
  gap: 20px; /* Espaçamento entre os eventos */
  justify-content: space-evenly; /* Espaçamento uniforme entre os eventos */
  padding: 10px;
}

/* Estilo para cada evento */
.event-item {
  background-color: #fff;
  padding: 20px;
  width: 250px; /* Largura fixa para cada evento */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.event-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.event-item h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.event-item p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

button {
  background-color: #b23365;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

/* Responsividade */
@media (max-width: 768px) {
  .event-item {
    width: 100%; /* Ocupa toda a largura em telas pequenas */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .event-item {
    width: 45%; /* Dois eventos por linha em telas médias */
  }
}
